*{
    margin: 0;
    padding: 0;
}

body {
    background: #c3c3c3;
}


button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 12px;
    border: none;
    margin: 5px 0;
    background-color: transparent;
    color: #FFF;
    transition: all 0.3s;
}

button:hover {
    background-color: #364157;
    font-size: 35px;
}

section {
    width: 330px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 36px;
    box-shadow: 0 0 1em rgb(63, 63, 62);
}

p {
    width: 300px;
    height: 3rem;
    color: #FFF;
    font-size: 3rem;
    margin: 20px 5px;
    border: none;
    text-align: end;

}

#botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#zero {
    width: 140px;
    text-align: left;
    padding-left: 28px;
}

.background {
    background-color: #273144;
}

.laranja {
    color: #D1851A;
}

.cinza {
    color: #A6A9B0;
}
